@model PaginationViewModel

<ol class="flex justify-center gap-2 text-xs font-medium mt-2">
  <li class="text-gray-500 flex justify-center items-center mr-2">
    <span>@Model.PageString</span>
  </li>
  <li>
    <a
      id="prevPage"
      class="inline-flex h-5 w-5 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180">
      <span class="sr-only">Prev Page</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-3 w-3"
        viewBox="0 0 20 20"
        fill="currentColor">
        <path
          fill-rule="evenodd"
          d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
          clip-rule="evenodd"/>
      </svg>
    </a>
  </li>
  <li class="text-gray-500 flex justify-center items-center">
    <span class="font-medium">@Model.CurrentPage</span><span>/@Model.TotalPage</span>
  </li>
  <li>
    <a
      id="nextPage"
      class="inline-flex h-5 w-5 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180">
      <span class="sr-only">Next Page</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-3 w-3"
        viewBox="0 0 20 20"
        fill="currentColor">
        <path
          fill-rule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clip-rule="evenodd"/>
      </svg>
    </a>
  </li>
</ol>

<script>
    const prevPageButton = document.getElementById('prevPage')  
    const nextPageButton = document.getElementById('nextPage')  
    prevPageButton.addEventListener('click', function (){
        navigate(false)
    })
    
    nextPageButton.addEventListener('click', function (){
        navigate(true)
    })
    
    function navigate(isNext){
        const url = new URL(location.href);
        const pageControl = @Json.Serialize(Model)
        if (url.searchParams.has('Page')){
            url.searchParams.set('Page', isNext ? pageControl.nextPage:  pageControl.prevPage)
        }else{
            url.searchParams.append('Page', isNext ? pageControl.nextPage:  pageControl.prevPage);
        }
        location.href = url.toString()
    }
</script>